body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

.quiz-page {
    display: none;
}git add .
git commit -m "Initial commit"


.quiz-page.active {
    display: block;
}

.question {
    margin-bottom: 20px;
}

.option {
    display: block;
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
}

.next-page {
    display: block;
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
